* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ffffff;
}

.header {
  width: 100%;
  height: 120vh;
  position: relative;
}

#Logo {
  height: 80px;
  width: auto;
  display: block;
  margin: 2% auto 0% auto;
}

#calendar {
  width: 80%;
  margin-top: 3%;
}

@media (max-width: 768px) {
  #calendar {
    margin-top: 8%;
  }
}
